{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "onFact REST API",
    "description" : "This is an example of using OAuth2 Password Flow in a specification to describe security to your API.",
    "version" : "v1-oas3"
  },
  "servers" : [ {
    "url" : "https://api5.onfact.be/"
  } ],
  "security" : [ {
    "password" : [ "all" ]
  } ],
  "paths" : {
    "/v1/apps" : {
      "get" : {
        "tags" : [ "Apps" ],
        "summary" : "Get a list of all available apps for a company in onFact",
        "description" : "Apps are either modules, integrations of configurations that can be activated or deactivated for both companies as users to extend the functionality of the software or to limit access to certain modules or integrations. If an app is of type \"configuration\" all users have access to this function no matter if this is activated or not.",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of apps",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppsList"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/app-companies" : {
      "get" : {
        "tags" : [ "Apps" ],
        "summary" : "get the list of activated apps of a company",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of apps",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppsList"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Apps" ],
        "summary" : "activate an app for the company",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppCompany"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Apps" ],
        "summary" : "deactivate an app for the company",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/app-users" : {
      "get" : {
        "tags" : [ "Apps" ],
        "summary" : "get the list of activated apps of a user",
        "description" : "Get the list of apps accessible to the user. Apps of the type \"configuration\" are accessible by all users and activating of deactivating these apps are ignored. A user with the \"company\" role has access to all apps of the company and activating of deactivating apps for these users is ignored.",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of apps",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppsList"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Apps" ],
        "summary" : "activate an app for the user",
        "description" : "To activate an app for a user, also provide the user id. This is not needed to activate an app for the company since the X-COMPANY-UUID header is used for this.",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppUser"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Apps" ],
        "summary" : "deactivate an app for the company",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "user_id",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/oauth2/token" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Authenticate a user and get access token. If the parameter \"2fa_requered\" is set, use the /oauth2/two-factor-authentication endpoint to activate the access_token before using it on other endpoints. Endpoint is throttled to 5 failed requests per minute.",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginAttempt"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The Access Token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400" : {
            "description" : "UnsupportedGrantType: authentication can only be done with specific grant types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "InvalidLogin: login credentials not correct",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyAttemptsErrorResponse: only 3 failed login attempts per minute are allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "public" : [ ]
        } ]
      }
    },
    "/v1/oauth2/two-factor-authentication" : {
      "put" : {
        "tags" : [ "Authentication" ],
        "description" : "send the Two Factor Authentication code to the server to activate the access_token",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TwoFactorAuthentication"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Resource Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/responses/InvalidTwoFactorAuthenticationCodeErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "get prospects, customers and suppliers",
        "description" : "get a list of contacts, can be filtered to only get for example prospects, customers or suppliers.",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "The field on which to order, a semiculmn and the order in which to order. For example: 'name:ascend' or 'city:descend'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A logic expression to filter the list against. For example: 'isCustomer && name:BVBA*'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of contacts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactsList"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Add new prospect, customer or supplier",
        "description" : "Add a new contact. Can be a prospect, customer or supplier based on the given parameter values.",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head" : {
        "tags" : [ "Contacts" ],
        "summary" : "get next contact number",
        "description" : "get the number for the next contact",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "The numbering sequence to use, either prospects/customers or suppliers",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "customers", "suppliers" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of contacts",
            "headers" : {
              "X-NEXT-NUMBER" : {
                "description" : "the next number",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-NEXT-NUMBER-FORMATTED" : {
                "description" : "the next number formatted with the company number-formats",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "View a specific contact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Contacts" ],
        "summary" : "Update contact information",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Resource Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "Delete contact",
        "description" : "Deleting a contact puts it in a trash bin state. It will no longer show up in lists, but is still linked to existing documents and can still be found using the specific id endpoint.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-people" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "get contact persons assiciated with contacts",
        "description" : "each contact can be associated with many contact persons. These are individuals or even departments at the contact company. Contact person data can overwrite the general contact data when creating a document or sending an email.",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "The field on which to order, a semiculmn and the order in which to order. For example: 'name:ascend' or 'city:descend'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A logic expression to filter the list against. For example: 'isCustomer && name:BVBA*'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of contacts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactPeopleList"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Add contact person",
        "description" : "Add a new contact person for a prospect, customer or supplier",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-people/{id}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "View a specific contact person",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactPerson"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Contacts" ],
        "summary" : "Update contact person information",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactPerson"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Resource Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "Delete contact person",
        "description" : "Deleting a contact person puts it in a trash bin state. It will no longer show up in lists, but is still linked to existing documents and can still be found using the specific id endpoint.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-tiers" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "get contact tiers",
        "description" : "contacts can be categorized in tiers to set specific product prices for these tiers",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "The field on which to order, a semiculmn and the order in which to order. For example: 'name:ascend' or 'city:descend'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A logic expression to filter the list against. For example: 'isCustomer && name:BVBA*'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of contact tiers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactTiersList"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Add new contact tier",
        "description" : "Add a new contact tier",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactTier"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-tiers/{id}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "View a specific contact tier",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactTier"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Contacts" ],
        "summary" : "Update a specific contact tier",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactTier"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Resource Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "Delete  a specific contact tier",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vat-lookups" : {
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Validate a vat number with the VIES registry",
        "description" : "Checks a vat number with the VIES registry. Keep in mind that this service is sometimes unavailable.",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Vat"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Valid Vat",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VatContact"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/product-groups" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "get product groups",
        "description" : "get a list of all product groups",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "The field on which to order, a semiculmn and the order in which to order. For example: 'name:ascend' or 'city:descend'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A logic expression to filter the list against. For example: 'isCustomer && name:BVBA*'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of product groups",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductGroupsList"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Products" ],
        "summary" : "Add new product group",
        "description" : "Add a new product group",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductGroup"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/product-groups/{id}" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "View a specific product group",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductGroup"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Products" ],
        "summary" : "Update product group",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductGroup"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Resource Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Products" ],
        "summary" : "Delete product group",
        "description" : "Deleting a product group puts it in a trash bin state. It will no longer show up in lists, but is still linked to existing documents and can still be found using the specific id endpoint.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "get a list of all products",
        "description" : "get a list of products, can be filtered for example by name or productgroup",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "The field on which to order, a semiculmn and the order in which to order. For example: 'name:ascend' or 'city:descend'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A logic expression to filter the list against. For example: 'isCustomer && name:BVBA*'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductsList"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Products" ],
        "summary" : "Add product",
        "description" : "Add a new product. All products need to be in a productgroup.",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head" : {
        "tags" : [ "Products" ],
        "summary" : "get next product number",
        "description" : "get the number for the next product",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The number in the header",
            "headers" : {
              "X-NEXT-NUMBER" : {
                "description" : "the next number",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-NEXT-NUMBER-FORMATTED" : {
                "description" : "the next number formatted with the company number-formats",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{id}" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "View product",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Products" ],
        "summary" : "Update product",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Resource Updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Products" ],
        "summary" : "Delete product",
        "description" : "Deleting a product puts it in a trash bin state. It will no longer show up in lists, but is still linked to existing documents and can still be found using the specific id endpoint.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The resource ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "NotFound: The specified resourse wat not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proposals" : {
      "get" : {
        "tags" : [ "Proposals" ],
        "summary" : "get a list of all proposals",
        "description" : "get a list of proposals, can be filtered and sorted",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before starting to collect the result set",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The numbers of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "The field on which to order, a semiculmn and the order in which to order. For example: 'name:ascend' or 'city:descend'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A logic expression to filter the list against. For example: 'isCustomer && name:BVBA*'",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of proposals",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProposalsList"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Proposals" ],
        "summary" : "Add proposal",
        "description" : "Add a new proposal",
        "parameters" : [ {
          "name" : "X-COMPANY-UUID",
          "in" : "header",
          "description" : "The UUID of the company for which this endpoint is used",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Proposal"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Resource Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Success"
                }
              }
            }
          },
          "400" : {
            "description" : "ValidationError: Resource could not be saved because of validation errors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: Authentication is needed for this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden: User is authenticated but does not have enough rights to perform this action",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "TooManyRequests: The API throttling limit has been reached",
            "content" : {
              "application/json" : {
[...]
